<ion-header [translucent]="true">
  <ion-toolbar color="blue">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="bluee">
  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="../../../assets/product2/15promax.webp" alt="" height="200" width="180">
        <p>iPhone 15 Pro Max</p>
        <p>ราคา 44,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product2/f23fe.webp" alt="" height="200" width="180">
        <p>Samsumg S23 FE</p>
        <p>ราคา 22,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="../../../assets/product2/ipadair5.webp" alt="" height="200" width="180">
        <p>iPad Air 5</p>
        <p>ราคา 55,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product2/mi-14tpro.webp" alt="" height="200" width="180">
        <p>Xiaomi 14 Tab Pro</p>
        <p>ราคา 8,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="../../../assets/product2/mipad5.webp" alt="" height="200" width="180">
        <p>Xiaomi Pad 5</p>
        <p>ราคา 25,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product2/s24.webp" alt="" height="200" width="180">
        <p>Samsung S24 Ultra</p>
        <p>ราคา 40,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="../../../assets/product2/ts9.webp" alt="" height="200" width="180">
        <p>Samsumg Tab S9</p>
        <p>ราคา 63,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
      <ion-col><img src="../../../assets/product/vivo-y20.png" alt="" height="200" width="180">
        <p>Vivo y20</p>
        <p>ราคา 19,900 บาท</p>
        <ion-button size="large" color="primary">ซื้อสินค้า</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
